<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <div class="img-row">
        <th:block th:with="nColumns = 4">
            <th:block th:each="column: ${#numbers.sequence(0, nColumns-1)}">
                <div class="img-column">
                    <img th:each="index : ${#numbers.sequence(column, #lists.size(photographs)-1, nColumns)}"
                         th:src="${'/file/' + photographs[index].uuid}" class="img-fluid" style="width:100%"/>
                </div>
            </th:block>
        </th:block>
    </div>
</div>

</div>

</body>
</html>