<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>




<div class="container">
    <div class="row">
        <div class="col-4">
            <a href="/categories/red"><img th:src="@{/thumbnail-images/red.jpg}" class="hoverzoom" style="width:100%"/></a>
        </div>
        <div class="col-4">
            <a href="/categories/yellow"><img th:src="@{/thumbnail-images/yellow.jpg}" class="hoverzoom" style="width:100%"/></a>
        </div>
        <div class="col-4">
            <a href="/categories/pink"><img th:src="@{/thumbnail-images/pink.jpg}" class="hoverzoom" style="width:100%"/></a>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="/categories/green"><img th:src="@{/thumbnail-images/green.jpg}" class="hoverzoom" style="width:100%"/></a>
        </div>
        <div class="col-4">
            <a href="/categories/orange"><img th:src="@{/thumbnail-images/orange.jpg}" class="hoverzoom" style="width:100%"/></a>
        </div>
        <div class="col-4">
            <a href="/categories/blue"><img th:src="@{/thumbnail-images/blue.jpg}" class="hoverzoom" style="width:100%"/></a>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="/categories/brown"><img th:src="@{/thumbnail-images/brown.jpg}" class="hoverzoom" style="width:100%"/></a>
        </div>
        <div class="col-4">
            <a href="/categories/black"><img th:src="@{/thumbnail-images/black.jpg}" class="hoverzoom" style="width:100%"/></a>
        </div>
        <div class="col-4">
            <a href="/categories/white"><img th:src="@{/thumbnail-images/white.jpg}" class="hoverzoom" style="width:100%"/></a>
        </div>
    </div>
</div>







</div>


</body>
</html>