<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>




<div class="container">
    <div class="row">
        <div class="col-4">
            <img th:src="@{/thumbnail-images/red.jpg}" style="width:100%"/>
        </div>
        <div class="col-4">
            <img th:src="@{/thumbnail-images/yellow.jpg}" style="width:100%"/>
        </div>
        <div class="col-4">
            <img th:src="@{/thumbnail-images/pink.jpg}" style="width:100%"/>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img th:src="@{/thumbnail-images/green.jpg}" style="width:100%"/>
        </div>
        <div class="col-4">
            <img th:src="@{/thumbnail-images/orange.jpg}" style="width:100%"/>
        </div>
        <div class="col-4">
            <img th:src="@{/thumbnail-images/blue.jpg}" style="width:100%"/>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img th:src="@{/thumbnail-images/brown.jpg}" style="width:100%"/>
        </div>
        <div class="col-4">
            <img th:src="@{/thumbnail-images/black.jpg}" style="width:100%"/>
        </div>
        <div class="col-4">
            <img th:src="@{/thumbnail-images/white.jpg}" style="width:100%"/>
        </div>
    </div>
</div>







</div>


</body>
</html>